.playing-card{

    width:48px;

    height:32px;

    background:white;

    border-radius:8px;

    border:1px solid #333;

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    align-items:center;

    padding:6px;

    cursor:pointer;

    transition:.2s;

    font-weight:bold;

    user-select:none;

    margin-right:-18px;

}

.playing-card:hover{

    transform:translateY(-15px);

    box-shadow:0 8px 20px rgba(0,0,0,.4);

}

.red{

    color:#d32f2f;

}

.black{

    color:#111;

}

.card-suit{

    font-size:18px;

}

.card-rank{

    font-size:13px;

}