.trick-table{

    position:relative;

    width:180px;

    height:180px;

    border-radius:50%;

    background:#0c5b31;

    border:2px solid rgba(255,255,255,.15);

}

/* every played card */

.played-card{

    position:absolute;

}

/* top */

.top{

    left:50%;

    top:0;

    transform:translateX(-50%);

}

/* left */

.left{

    left:0;

    top:50%;

    transform:translateY(-50%);

}

/* right */

.right{

    right:0;

    top:50%;

    transform:translateY(-50%);

}

/* you */

.bottom{

    left:50%;

    bottom:0;

    transform:translateX(-50%);

}

/* bottom teammates */

.bottom-left{

    left:20%;

    bottom:18%;

}

.bottom-right{

    right:20%;

    bottom:18%;

}

